{% extends "base.html.twig" %}

{% block root %}

    <header class="App-header"><div></div></header>
    <main>
        <div class="Test-module_Test_3BjAT">
            <a href="/">Go home</a><br />
            <div>
                <svg width="50" height="50" viewBox="0 0 836 859.07">
                    <use xlink:href="{{ asset('static/media/ICONS.18976386.svg#logo') }}"></use>
                </svg>
            </div>
            <div>
                <img src="{{ asset('static/media/auto7_600.3b1843fe.jpg') }}" alt="Car sample" />
            </div>
            <h1>Hello, my friend.</h1>
            <p>Bla, bla, bla, bla....</p>
            <button>Click me</button>
        </div>
    </main>

{% endblock root %}